.red-border {
	border: 1px solid #dc3545;
	border-right: 0px;
}
.green-border {
	border: 1px solid #157347;
	border-right: 0px;
}
.hide {
	display: none;
}
.red-border:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

.form-label {
	vertical-align: top;
}

.card.card-body p {
	margin-bottom: 0 !important;
	font-size: 0.9rem;
	color: #555555;
}

#solution-info {
	font-size: 0.9rem;
	color: #555555;
}
textarea {
	width: 100px !important;
}

#question-text {
	font-size: 1.1rem;
}

ol {
	padding: 0;
}

li {
	list-style-position: inside;
	border-radius: 5px;
	padding: 1em 1.5em 1.5em;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

ol > li + li {
	margin-top: 1.5em;
}

/* SLIDER STYLING */

:root {
	--display-slider-thumb: "none";
	--slider-thumb-opacity: 0;
	--calendar-count-per-row: 2;
	--slider-color: rgba(0, 117, 255, 0.902);
	--slider-color-light: rgba(13, 110, 253, 0.25);
	/* LIGHT-INVALID-COLOR: rgb(220, 53, 69, 0.25) */
	/* INVALID-COLOR: rgb(220, 53, 69) */
	/* VALID-COLOR: rgb(25, 135, 84) */
	color: rgba(220, 54, 69, 1);
}

.range-wrap {
	position: relative;
	margin: 0 auto 3rem;
}
.range {
	width: 100%;
}
.bubble {
	background: var(--slider-color);
	font-size: 0.9rem;
	color: white;
	padding: 3px 10px;
	position: absolute;
	border-radius: 4px;
	left: 50%;
	top: 26px;
	transform: translateX(-50%);
}
.bubble::after {
	content: "";
	position: absolute;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	/* border-bottom: 5px solid #0075ff; */
	border-bottom: 5px solid var(--slider-color);

	top: -2px;
	right: 50%;
	transform: translate(50%, -50%);
}

.range-container {
	display: flex;
	padding: 0;
	justify-content: space-between;
	transition: color 400ms ease-in;
}

input[type="range"]::-webkit-slider-thumb {
	cursor: pointer;
	opacity: var(--slider-thumb-opacity);
	background-color: var(--slider-color);
}

input[type="range"]::-moz-range-thumb {
	cursor: pointer;
	opacity: var(--slider-thumb-opacity);
	background-color: var(--slider-color);
}
input[type="range"]::-webkit-slider-thumb:active {
	/* background-color: #0075ff; */
	background-color: var(--slider-color);
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--slider-color-light) !important;
}

input[type="range"]:focus::-webkit-slider-thumb {
	/* background-color: #0075ff; */
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--slider-color-light) !important;
}

/* ********************** GREEN SLIDER ********************** */

input[type="range"].green-slider::-webkit-slider-thumb {
	cursor: pointer;
	opacity: var(--slider-thumb-opacity);
	background-color: rgb(25, 135, 84);
}

input[type="range"].green-slider::-moz-range-thumb {
	cursor: pointer;
	opacity: var(--slider-thumb-opacity);
	background-color: rgb(25, 135, 84);
}
input[type="range"].green-slider::-webkit-slider-thumb:active {
	/* background-color: #0075ff; */
	background-color: rgb(25, 135, 84);
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgb(25, 135, 84, 0.25) !important;
}

input[type="range"].green-slider:focus::-webkit-slider-thumb {
	/* background-color: #0075ff; */
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgb(25, 135, 84, 0.25) !important;
}

.bubble.green-slider {
	background: rgb(25, 135, 84);
	font-size: 0.9rem;
	color: white;
	padding: 3px 10px;
	position: absolute;
	border-radius: 4px;
	left: 50%;
	top: 26px;
	transform: translateX(-50%);
}
.bubble.green-slider::after {
	content: "";
	position: absolute;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	/* border-bottom: 5px solid #0075ff; */
	border-bottom: 5px solid rgb(25, 135, 84);

	top: -2px;
	right: 50%;
	transform: translate(50%, -50%);
}

/* ********************** RED SLIDER ********************** */

input[type="range"].red-slider::-webkit-slider-thumb {
	cursor: pointer;
	opacity: var(--slider-thumb-opacity);
	background-color: rgb(220, 53, 69);
}

input[type="range"].red-slider::-moz-range-thumb {
	cursor: pointer;
	opacity: var(--slider-thumb-opacity);
	background-color: rgb(220, 53, 69);
}
input[type="range"].red-slider::-webkit-slider-thumb:active {
	/* background-color: #0075ff; */
	background-color: rgb(220, 53, 69);
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgb(220, 53, 69, 0.25) !important;
}

input[type="range"].red-slider:focus::-webkit-slider-thumb {
	/* background-color: #0075ff; */
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgb(220, 53, 69, 0.25) !important;
}

.bubble.red-slider {
	background: rgb(220, 53, 69);
	font-size: 0.9rem;
	color: white;
	padding: 3px 10px;
	position: absolute;
	border-radius: 4px;
	left: 50%;
	top: 26px;
	transform: translateX(-50%);
}
.bubble.red-slider::after {
	content: "";
	position: absolute;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	/* border-bottom: 5px solid #0075ff; */
	border-bottom: 5px solid rgb(220, 53, 69);

	top: -2px;
	right: 50%;
	transform: translate(50%, -50%);
}

@media only screen and (max-width: 575px) {
	.range-container {
		font-size: 0.9rem;
	}
}

.pulse {
	background-color: #eef0f2;
	height: 10%;
	border-radius: 10px;
	position: relative;
	animation: pulse-animation 3s linear infinite;
}

@-moz-document url-prefix() {
	.pulse {
		height: 9px;
	}
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0 rgb(0, 117, 255, 0.8), 0 0 0 0 rgb(0, 117, 255, 0.8);
	}
	40% {
		box-shadow: 0 0 0 10px rgb(0, 117, 255, 0), 0 0 0 0 rgb(0, 117, 255, 0.8);
	}
	80% {
		box-shadow: 0 0 0 10px rgb(0, 117, 255, 0), 0 0 0 5px rgb(0, 117, 255, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(0, 117, 255, 0), 0 0 0 5px rgb(0, 117, 255, 0);
	}
}
